@page
@model Sistema.App.Frontend.Pages.ListEstadioModel
@{
}
<h1>Listado de Estadios</h1>
<a class="btn btn-primary" asp-page="./Create">Nuevo estadio</a>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Direccion</th>
            <th scope="col">Municipio</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var estadio in Model.estadios)
        {
            <tr>
                <th>@estadio.Nombre</th>
                <td>@estadio.Direccion</td>
                <td>@estadio.Municipio</td>
                <td>
                    <a class="btn btn-primary" asp-page="./ListEstadioDetails" asp-route-id="@estadio.Id">Detalle</a>
                    <a class="btn btn-secondary" asp-page="./Edit" asp-route-id="@estadio.Id">Modificar</a>
                </td>
            </tr>
        }
    </tbody>
</table>