@page
@model Sistema.App.Frontend.Pages.Estadios.ListEstadioModel
@{
}


<form method="get">
    <div class="form-group">
        <label for="b">Buscar</label>
        <input name="b" id="b" asp-for="@Model.bActual" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Buscar</button>
</form>

<h1>Listado de Estadios</h1>
<a class="btn btn-primary" asp-page="./Create">Nuevo Estadio</a>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Direccion</th>
            <th scope="col">Municipio</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var estadio in Model.estadios)
        {
            <tr>
                <th>@estadio.Nombre</th>
                <td>@estadio.Direccion</td>
                <td>@estadio.Municipio.Nombre</td>


                
                <td>
                    <a class="btn btn-primary" asp-page="./ListEstadioDetails" asp-route-id="@estadio.Id">Detalle</a>
                    <a class="btn btn-secondary" asp-page="./Edit" asp-route-id="@estadio.Id">Modificar</a>
                </td>
            </tr>
        }
    </tbody>
</table>